jupyter_dash==0.2.1.
gensim==3.8.1
pandas==1.0.3
dash
numpy==1.18.1
dash_table==4.8.1
lexicalrichness==0.1.3
plotly==4.8.1
textstat==0.6.2
tick==0.7.0.1
pytz==2019.3
nltk==3.4.5
textblob==0.15.3
dash_bio==0.4.8
spacy==2.2.4
beautifulsoup4==4.9.1
python_dateutil==2.8.1
scikit_learn==0.23.1
dash_bootstrap_components
gunicorn
html5lib
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz
Werkzeug==2.0.0
flask==2.1.3
